.default {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgb(82 80 80);

    color: #dfd5d5;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.default:hover {
    border: 1px solid #17f800;
}



.default:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.default:disabled {
    background: rgba(0, 0, 0, 0.6);
    color: #342e2e;
    cursor: default;
}

.default:disabled:hover {
    border: none;

}

.red {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px rgb(82 80 80);
    color: #ff0000;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.red:active {
    background: rgb(147, 33, 33);
    box-shadow: 0 3px rgb(147, 33, 33) inset;
}

.red:hover {
    border: 1px solid #17f800;
}